{{outlet}}
{{!-- {{#parent-c next=(action 'next') next2=(action 'next2') current=(action 'current') as |c| }}
    {{#c.child }}
        {{show-c}}
    {{/c.child}}
{{/parent-c}}

{{#each model.errors as |error|}}
    {{log error}}
  <div class="error">
    {{error.code}}
  </div>
{{/each}} --}}

{{#each model as |item|}}
	{{input value=item.token}}
	{{#each item.mult_data as |item2|}}
		{{input value=item2.name}}
	{{/each}}
{{/each}}

{{input value=model.token}}
{{#each model.mult_data as |item2|}}
	{{input value=item2.name}}
{{/each}}

{{test.publicKey}}

<button {{action "reload"}}>reload</button>
<button {{action "hi"}}>hi</button>